extends layout

block content
	include components/subnavs
	section#body.container
		.row
			.span7
				article
					-each article in info
						section	
							h3=article.name
							p!=article.details
			.span4
				img(src="http://www.joyent.com/content/08-company/header.jpg?v=1372167145")
		.row(style='background: rgb(242, 247, 253);padding: 26px 8px;')
			.span4
				h4
					a(href='/rol/management') Management
				-each person in management
					div.row(style='margin-bottom:25px;')
						div.span1
							img(src='/files/' + person.image, style='width: 75px;border-radius: 50%;')
						div.span3
							h4=person.name
							span=person.position
			.span4
				h4 Affiliates
					div.row
						-each affiliate in affiliates
							img(src="/files/" + affiliate.image, style="opacity: .5;-webkit-filter: grayscale(1);")
			.span3
				h4 News
				-console.log(news)
				-for(v in news)
					span=v
				

