extends layout

block content
	include components/subnavs
	style .description *{font-size:10px !important}
	section#body.container
			#page.row
				.pages-head.span12
					h3 Jobs at ROL
				.row.company-row
					-if(page != null)					
						#job-heads.span12.center
							if(page.heading)
								h2.blue-h2=page.heading
							if(page.description)
								p=page.description
						if(page.image)
							.span12
								img.span12.zero-margin(src="/files/" + page.image)
						if(page.paragraphone_heading)
							.span6
								h3=page.paragraphone_heading
								p=page.paragraphone_details
						if(page.paragraphtwo_heading)
							.span6
								h3=page.paragraphtwo_heading
								p=page.paragraphtwo_details
				.pages-head.span12
					h3 Available posts
				.row
					-if(posts.length)
						-each post in posts
							.span4
								if(post.image)
									img.span4.zero-margin.margin-bottom-15(src="/files/" + post.image)
								h3=post.name
								p!=post.description
								form(method='post', action='/jobs/apply')
									div.btn-group
										button.btn More info
										input(type='hidden', name='id', value=post._id)
										input(type='submit', value='Apply for this').btn.btn-info
					-else
						h3 There are no posts available currently
						h5 Please check this page later to find available posts at ROL
									
