extends layout

block content
	include components/subnavs
	script(src="/modals/packages.js")
	section#body.container
			#page.row
					.pages-head.span12
						h3 ROL Internet Packages
				-each package in packages
					.row.package-row
						.span12
							h2=package.name
							if(package.description)
								p=package.description
						-each item in package.packages
							a.span4.package-box(href=item.url, data-path=item.url, data-data=item)
								.package-box-inner
									h3=item.name
									if(item.price)
										h3=item.price
									p=item.description
	#modal-container
	script
		$(function(){
			var app = Davis(function () {
				this.get('/packages/:package', function (req) {
					console.log('hehe');
				});
				this.get('/packages/:package/:item', function(req){
					var path = req.path;
					var data = $('a.package-box[data-path="'+path+'"]').data().data;
					var modal = jade.render('package',data);
					$("#modal-container").html(modal);
					$("#package-modal").modal('show');
				});
			})
			app.start();
		});

