extends layout

block content
	include components/subnavs
	script(src="/modals/packages.js")
	section#body.container
			#page.row
					.pages-head.span12
						h3 ROL Internet Packages
				-each package in packages
					.row.package-row.navigation-block(data-nav=package.name, style=(package.active==true ? "display:block" : "display:none"))
						.span12
							h2=package.name
							if(package.description)
								p=package.description
						-each item in package.packages
							a.span4.package-box(href=item.url, data-path=item.url, data-data=encodeURIComponent(JSON.stringify(item)))
								.package-box-inner
									h3=item.name
									if(item.price)
										h3=item.price
									p=item.description
	#modal-container
	-if(typeof product != 'undefined')
		-console.log('here');
		script
			$(function(){
				var data = $('a.package-box[data-path="#{product}"]').data().data;
				data = JSON.parse(decodeURIComponent(data))
				var modal = jade.render('package',data);
				$("#modal-container").html(modal);
				var m = $("#package-modal").modal('show');
				m.on('hidden', function(){
					Davis.location.assign("#{product_parent}");
				});		
			});	
	script
		$(function(){
			var app = Davis(function () {
				this.get('/packages', function (req) {
					$("#package-modal").modal('hide');
				});
				this.get('/packages/', function (req) {
					$("#package-modal").modal('hide');
				});
				this.get('/packages/:package', function (req) {
					$("#package-modal").modal('hide');
					console.log(req);
					var self = $(".nav a[nav-slug='"+req.params.package+"']");
					self.parent().parent().find("a").removeClass("active");
					self.addClass("active");
		
					var nav = self.text();
					$(".navigation-block[data-nav!='"+nav+"']").hide();
					$(".navigation-block[data-nav='"+nav+"']").show();					
				});
				this.get('/packages/:package/:item', function(req){
					var path = req.path;
					var data = $('a.package-box[data-path="'+path+'"]').data().data;
					data = JSON.parse(decodeURIComponent(data));
					var modal = jade.render('package',data);
					$("#modal-container").html(modal);
					var m = $("#package-modal").modal('show');
					m.on('hidden', function(){
						window.history.go(-1);
					});
					//app.trans();
				});
			})
			app.start();
		});

