extends layout

block content
	include components/subnavs
	script(src='/templates.js')
	section#body.container
			#page.row
					.pages-head.span12
						h3 Press Releases
				.row.company-row
					.span9.thirteen#press-releases
						-for value, month in press
							h5=month
							ul.unstyled
								-each article in value
									li.row.press-row
										.span1=article.date
										.span10
											ul.unstyled
												li
													a(href=article.url, data-slug=article.slug, data-article=encodeURIComponent(article.article))=article.name
					.span9#press-releases-display

					.span3
						h3 Contact Us
						include components/contacts
	script
		$(function(){
			var app = Davis(function () {
				this.get('/packages', function (req) {
					$("#package-modal").modal('hide');
				});
				this.get('/packages/', function (req) {
					$("#package-modal").modal('hide');
				});
				this.get('/press/:title', function (req) {
					var article = $("a[data-slug='"+req.params.title+"']");
					$("#press-releases-display").html(jade.render('press-article'));
				});
			})
			app.start();
		});
