extends layout

block content
	include components/subnavs
	script(src='/templates.js')
	section#body.container
			#page.row
					.pages-head.span12
						h3
							a(href='/press') Press Releases
				.row.company-row
					.span9.thirteen#press-releases(class=select ? " hide " : "")
						-for value, month in press
							h5=month
							ul.unstyled
								-each article in value
									li.row.press-row
										.span1=article.date
										.span10
											ul.unstyled
												li
													a(href=article.url, data-slug=article.slug, data-article=encodeURIComponent(JSON.stringify(article)))=article.name
					.span9#press-releases-display
						-if(select)
							-var article = select;
							include components/press-article
					.span3
						h3 Contact Us
						include components/contacts
	script
		$(function(){
			var app = Davis(function () {
				this.get('/press', function (req) {
					$("#press-releases-display").hide();
					$("#press-releases").show();
				});
				this.get('/press/', function (req) {
					$("#press-releases-display").hide();
					$("#press-releases").show();
				});
				this.get('/packages/', function (req) {
					$("#package-modal").modal('hide');
				});
				this.get('/press/:title', function (req) {
					var article = $("a[data-slug='"+req.params.title+"']");
					$("#press-releases").hide();
					var art = JSON.parse(decodeURIComponent(article.data().article));
					$("#press-releases-display").html(jade.render('press-article',{article:art})).show();
				});
			})
			app.start();
		});
